In [62]:
import numpy as np
import pandas as pd
from scipy import stats
from scipy.stats import t
from scipy.stats import norm
import statsmodels.api as sm

**CONFIDENCE INTERVALS**

**EXERCISE 1.**

What is the normal body temperature for healthy humans? A random sample of 130 healthy human body temperatures provided by Allen Shoemaker yielded 98.25 degrees and standard deviation 0.73 degrees.

Give a 99% confidence interval for the average body temperature of healthy people.

**1. Solution**

**Confidence Interval = x +- z * (s/sqrt(n))**

Sample mean(x) = 98.25 degrees
Sample standard deviation(s) = 0.73 degrees
Sample size(n) = 130

We want a 99% confidence interval.

The z-score for a 99% confidence level is approximately 2.576.

Upper Limit = 98.25 + 2.576 * (0.73/sqrt(130)) = 98.415

Lower Limit = 98.25 - 2.576 * (0.73/sqrt(130)) = 98.085

CI = (98.085, 98.415)

**2. Solution**

In [63]:
sample_mean = 98.25
sample_std = 0.73
sample_size = 130
confidence_level = 0.99

z_score = stats.norm.ppf((1 + confidence_level) / 2)
margin_of_error = z_score * (sample_std / np.sqrt(sample_size))
confidence_interval = (sample_mean - margin_of_error, sample_mean + margin_of_error)

print("99% Confidence Interval:", confidence_interval)

99% Confidence Interval: (98.08508192246582, 98.41491807753418)

**3. Solution**

In [64]:
sem = sample_std / np.sqrt(sample_size)
sem

0.06402523540941313

In [65]:
moe = 2.58 * sem
moe

0.1651851073562859

In [66]:
upper_limit = sample_mean + moe
lower_limit = sample_mean - moe
print('99% Confidence Interval:',(lower_limit, upper_limit))

99% Confidence Interval: (98.08481489264372, 98.41518510735628)

**EXERCISE 2.**

The administrators for a hospital wished to estimate the average number of days required for inpatient treatment of patients between the ages of 25 and 34. A random sample of 500 hospital patients between these ages produced a mean and standard deviation equal to 5.4 and 3.1 days, respectively.


Construct a 95% confidence interval for the mean length of stay for the population of patients from which the sample was drawn.

**1. Solution**

In [67]:
sample_mean = 5.4
sample_std = 3.1
sample_size = 500
confidence_level = 0.95

df = sample_size - 1
t_score = t.ppf((1 + confidence_level) / 2, df)
margin_of_error = t_score * (sample_std / np.sqrt(df))
confidence_interval = (sample_mean - margin_of_error, sample_mean + margin_of_error)

print('95% Confidence Interval:', confidence_interval)

95% Confidence Interval: (5.127344562608701, 5.6726554373913)

**2. Solution**

In [68]:
sem = sample_std / np.sqrt(sample_size)
sem

0.13863621460498696

In [69]:
moe = 1.96 * sem
moe

0.27172698062577444

In [70]:
upper_limit = sample_mean + moe
lower_limit = sample_mean - moe
print('95% Confidence Interval:',(lower_limit, upper_limit))

95% Confidence Interval: (5.128273019374226, 5.671726980625775)

**HYPOTHESIS TESTING**


**EXERCISE 3.**

The hourly wages in a particular industry are normally distributed with mean $13.20 and standard deviation $2.50. A company in this industry employs 40 workers, paying them an average of $12.20 per hour. Can this company be accused of paying substandard wages? Use an α = .01 level test. (Wackerly, Ex.10.18)

CHECK: statistic: -2.5298221281347035, pvalue= 0.005706018193000826

In [71]:

mu = 13.20
sigma = 2.50 
x_bar = 12.20
n = 40 
alpha = 0.01 


std_error = sigma / (n ** 0.5)

z_score = (x_bar - mu) / std_error

p_value = norm.cdf(z_score)

if p_value < alpha:
    print("Reject the null hypothesis. The company can be accused of paying substandard wages.")
else:
    print("Fail to reject the null hypothesis. There is not enough evidence to accuse the company of paying substandard wages.")

print("Statistic:", z_score)
print("p-value:", p_value)

Reject the null hypothesis. The company can be accused of paying substandard wages.
Statistic: -2.5298221281347035
p-value: 0.005706018193000826

**EXERCISE 4.** 

Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average shear strength, at the 1% significance level?

Results for two type of soils

CHECK: statistic: 5.1681473319343345, pvalue= 2.593228732352821e-06

In [72]:
df = pd.read_excel('soil.xlsx')

In [80]:
df

    Soil1  Soil2
0   1.442  1.364
1   1.943  1.878
2   1.110  1.337
3   1.912  1.828
4   1.553  1.371
5   1.641  1.428
6   1.499  1.119
7   1.347  1.373
8   1.685  1.589
9   1.578  1.714
10  1.866  1.260
11  1.653  1.492
12  1.665  1.395
13  1.640  1.778
14  1.976  1.611
15  1.754  1.202
16  1.589  1.542
17  1.976  1.094
18  1.863  1.557
19  1.932  1.053
20  1.570  1.183
21  1.613  1.367
22  2.054  1.144
23  1.550  1.151
24  1.714  1.561
25  1.896  1.192
26  1.737  1.489
27  1.740  1.379
28  1.708  1.501
29  1.548  1.277
30    NaN  1.593
31    NaN  1.172
32    NaN  1.510
33    NaN  1.740
34    NaN  1.355

In [83]:
from scipy.stats import ttest_ind


# Perform two-sample t-test
t_statistic, p_value = ttest_ind(soil1, soil2)

# Given significance level
alpha = 0.01

# Check if the null hypothesis can be rejected
if p_value < alpha:
    print("Reject the null hypothesis. The soils appear to differ with respect to average shear strength.")
else:
    print("Fail to reject the null hypothesis. There is not enough evidence to conclude that the soils differ with respect to average shear strength.")

print("Statistic:", t_statistic)
print("p-value:", p_value)

Reject the null hypothesis. The soils appear to differ with respect to average shear strength.
Statistic: 5.1681473319343345
p-value: 2.593228732352821e-06

**EXERCISE 5.**

The following dataset is based on data provided by the World Bank (https://datacatalog.worldbank.org/dataset/education-statistics). World Bank Edstats.  2015 PISA Test Dataset

Get descriptive statistics (the central tendency, dispersion and shape of a dataset’s distribution) for each continent group (AS, EU, AF, NA, SA, OC).
Determine whether there is any difference (on the average) for the math scores among European (EU) and Asian (AS) countries (assume normality and equal variances). Draw side-by-side box plots.
CHECK: statistic=0.870055317967983, pvalue=0.38826888111307345